@import "tailwindcss";

@font-face {
  font-family: fontNormal;
  src: url("./assets/NeueMachina-Regular.woff2");
}

@font-face {
  font-family: fontlight;
  src: url("./assets/NeueMachina-Light.woff2");
}

@font-face {
  font-family: fontbold;
  src: url("./assets/NeueMachina-Bold.woff2");
}

/* Custom utility classes mapping to your font families */

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  font-family: fontNormal;
}

/* Custom Toastify Theme */
.Toastify__toast {
  background: #0d0d0d !important;
  color: #ffffff !important;
  border: 1px solid rgba(249, 115, 22, 0.3) !important;
  border-radius: 16px !important;
  font-family: "fontNormal", sans-serif !important;
  font-size: 12px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.Toastify__progress-bar--error {
  background: #f97316 !important; /* Industrial Orange */
}

.Toastify__close-button {
  color: white !important;
  opacity: 0.3;
}


.color-empty {
  fill: #1e1e1e;
}
.color-github-1 {
  fill: #0e4429;
}
.color-github-2 {
  fill: #006d32;
}
.color-github-3 {
  fill: #26a641;
}
.color-github-4 {
  fill: #39d353;
}